a {
  color: white; }

a:hover {
  color: white; }

html, body {
  height: 100%;
  background: #0a1419;
  font-family: 'Montserrat',sans-serif;
  color: white; }

.myheading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; }

.mycontent {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px; }
